body{
		background-color:rgb(0,0,0);
		background-image:url(http://www.commentnation.com/hotlinks/tan_textured_background_seamless.jpg);
		background-position:top left;
		background-repeat:repeat;
		background-attachment:fixed;
		}