.sponshead {
font-size:28px;
font-weight:bold;
color:blue;
}

.titlesponshead
{
font-size:28px;
font-weight:bold;
color:red;
}

.sponstitle {
font-size:25px;
color:green;
position:absolute;
}

#cea {
position:absolute;
top:30px;
left:360px;
}

#samsung {
position:absolute;
top:290px;
left:370;
}

#google {
position:absolute;
top:1125px;
left:210px;
}

#fb {
position:absolute;
top:795px;
left:750px;
}

#micromax {
position:absolute;
top:745px;
left:160px;
}

#sony {
position:absolute;
top:1125px;
left:830px;
}

#ultra {
position:absolute;
top:1465px;
left:740px;
}

#bharathi {
position:absolute;
top:1465px;
left:440px;
}

#times {
position:absolute;
top:1475px;
left:120px;
}

#lt {
position:absolute;
top:1460px;
left:1080px;
}

#ambuja {
position:absolute;
top:1645px;
left:140px;
}

#microsoft {
position:absolute;
top:1645px;
left:430px;
}

#dell {
position:absolute;
top:1645px;
left:770px;
}

#ebay {
position:absolute;
top:1645px;
left:1070px;
}

#t1 {
position:absolute;
top:60px;
left:520px;
}

#t2{
position:absolute;
top:220px;
left:550px;
}

#t3{
top:715px;
left:820px;
}

#t4{
top:715px;
left:240px;
}

#t5{
top:1045px;
left:270px;
}

#t6{
top:1045px;
left:830px;
}

#t7{
top:1365px;
left:555px;
}

#t8{
top:125px;
left:80px;
}

#t9{
top:170px;
left:80px;
}

#t10{
top:215px;
left:80px;
}

#t11{
top:125px;
left:1045px;
}

#t12{
top:170px;
left:1045px;
}

#t13{
top:215px;
left:1045px;
}

